<h1>confirm</h1>

<p>
  <b>Title:</b>
  <%= @gamen.title %>
</p>

<p>
  <b>Body:</b>
  <%= @gamen.body %>
</p>

<%= link_to 'reedit',    :action => 'reedit' %>
<%= link_to 'create OK', :action => 'create' %> 

